@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  text-align: center;
}

header {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  margin-bottom: 30px;
  padding: 2px;
}

.content {
}
